div Project DASHBOARD.
p DASH
p 
  a(ui-sref="project.detail({id:'Ballena'})") Ballena
p 
  a(ui-sref="project.detail({id:'Tiburon'})") Tiburon

p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
