p This is the Name of the Project
ul.nav.nav-pills
  li(ui-sref-active="active")
    a(ui-sref="project.detail.info") Info
  li(ui-sref-active="active")
    a(ui-sref="project.detail.docs") Docs

div(ui-view="")
