div Project DASHBOARD.
p DASH
p 
  a(ui-sref="project.detail") Detail
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
p DASH
