div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarController')
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') affaris

    div#navbar-main.navbar-collapse.collapse(uib-collapse='nav.isCollapsed')
      ul.nav.navbar-nav
        li
          a(href="#") {{'Clientes' | translate}}
        li
          a(href="#") {{'Proyectos' | translate}}
        li
          a(href="#") {{'Tareas' | translate}}
        li.dropdown(ui-sref-active-if="admin")
          a.dropdown-toggle(href="#",data-toggle="dropdown") 
            i.fa.fa-cog
          ul.dropdown-menu
            li
              a(ui-sref="admin.users.dash") {{'Usuarios' | translate}}
            li
              a(ui-sref="admin.services") {{'Servicios' | translate}}
          

      ul.nav.navbar-nav.navbar-right
        li
          div(language-selector)
        li(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='signup') {{'Registro' | translate}}

        li(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='login') {{'Login' | translate}}

        li(ng-show='nav.isLoggedIn()')
          p.navbar-text Hello {{ nav.getCurrentUser().name }}

        li(ng-show='nav.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='settings')
            span.glyphicon.glyphicon-cog
        li(ng-show='nav.isLoggedIn()')
          a(ui-sref='logout') {{'Logout' | translate}}
